<div class="featured-products mt-5">
  <h2 class="text-title-md text-center">{{ texts.title }}</h2>
  <div class="row mt-4">
    <div class="col-md-4" *ngFor="let product of featuredProducts">
      <div class="card">
        <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="text-title-sm">{{ product.name }}</h5>
          <p class="text-body-sm text-muted">{{ product.description }}</p>
          <button class="btn btn-secondary">Ver mais</button>
        </div>
      </div>
    </div>
  </div>
</div>