<div class="container-lg">
  <!-- Título -->
  <polara-section-title [title]="texts.title" size="large"></polara-section-title>

  <div class="row mt-4">
    <!-- Filtro (Coluna Esquerda) -->
    <div class="col-md-3">
      <app-product-filter></app-product-filter>
    </div>

    <!-- Lista de Produtos (Coluna Direita) -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </div>
  </div>
</div>
