<div class="carousel-container">
  <button class="nav-button prev" *ngIf="navigationEnabled" (click)="prevSlide()">&#10094;</button>

  <div class="carousel-wrapper">
    <div class="carousel-track" #carouselTrack>
      <app-product-card
        *ngFor="let product of displayedProducts"
        [product]="product"
        [showAction]="false"
      ></app-product-card>
    </div>
  </div>

  <button class="nav-button next" *ngIf="navigationEnabled" (click)="nextSlide()">&#10095;</button>
</div>