.navbar-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço */
  justify-content: flex-start; /* Alinha os itens à esquerda */
  width: 100%; /* Para garantir que ocupe toda a largura disponível */
  gap: var(--spacing-md); /* Espaçamento entre os itens */
}

@media (min-width: 768px) {
  .navbar-nav {
    margin: 0 auto;
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    width: 100%;
    position: fixed;
    gap: var(--spacing-md);
    padding: var(--spacing-sm) var(--spacing-lg);
    z-index: 3000;
  }
}