.nav-item {
  position: relative;
  transition: all 0.3s ease;
  width: fit-content;
}

.nav-link {
  display: flex;
  align-items: center;
  color: var(--header-text);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-align: center;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: var(--header-active);
}

.nav-item.active .nav-link {
  color: var(--header-active);
  font-weight: 500;
}

.nav-item.active .nav-link:hover {
  background-color: rgba(0, 0, 0, 0);
  color: var(--header-active);
}

/* Indicador à esquerda (padrão para vertical) */
.nav-item.indicator-left .title-line {
  width: 4px;
  height: 70%;
  top: 15%;
  left: 0;
  right: auto;
  bottom: auto;
}

/* Indicador abaixo (para horizontal) */
.nav-item.indicator-bottom .title-line {
  height: 2px;
  width: 80%;
  left: 10%;
  right: 10%;
  bottom: 0;
  top: auto;
}

.nav-item.vertical.indicator-bottom .nav-link {
  justify-content: center;
}

.title-line {
  background-color: var(--header-active);
  position: absolute;
  transition: all 0.3s ease;
}

.nav-item.vertical {
  width: 100%;
}

.nav-item.vertical .nav-link {
  width: 100%;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .nav-item {
    width: 100%;
  }
  
  .nav-link {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px 15px;
    width: 100%;
  }
  
  /* Sempre usar indicador à esquerda no mobile */
  .nav-item .title-line {
    left: 0;
    right: auto;
    width: 4px;
    height: 70%;
    top: 15%;
    bottom: auto;
  }
}