<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content confirmation-modal">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">{{ modalService.confirmationTitle }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body container-medium">
          <div class="confirmation-content">
            <p class="confirmation-message">{{ modalService.confirmationMessage }}</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalService.cancelAction()">{{ modalService.cancelButtonLabel }}</button>
          <button type="button" class="btn btn-primary" (click)="modalService.confirmAction()">{{ modalService.confirmButtonLabel }}</button>
        </div>
      </div>
    </div>
  </div>