<div class="related-products">
    <h2 class="text-title-md">{{ title }}</h2>
    <div class="row mt-4">
      <div class="col-md-3" *ngFor="let product of relatedProducts">
        <div class="card">
          <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="text-title-sm">{{ product.name }}</h5>
            <p class="text-body-sm text-muted">{{ product.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>