.category-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.category-list-track {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
  width: 100%;
  justify-content: center;
  position: relative;
}

.category-card-item {
  transition: transform var(--animation-duration-short) var(--animation-easing-easeInOut);
}

@media (max-width: 992px) {
  .category-list-track {
    gap: var(--spacing-small);
  }
}

@media (max-width: 768px) {
  .category-list-track {
    width: 100%;
    gap: var(--spacing-xsmall);
  }
}

@media (max-width: 576px) {
  .category-list-track {
    justify-content: space-between;
  }
}