.title-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.title-icon {
  font-size: var(--font-size-large);
  color: var(--title-text);
}

.title {
  margin: 0;
  color: var(--title-title);
}

.light {
  font-weight: var(--font-weight-light);
}

.normal {
  font-weight: var(--font-weight-regular);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.small {
  font-size: var(--font-size-medium);
  line-height: 1.4;
  margin: var(--spacing-xsmall) 0;
}

.medium {
  font-size: var(--font-size-large);
  line-height: 1.5;
  margin: var(--spacing-small) 0;
}

.large {
  font-size: var(--font-size-xxlarge);
  line-height: 1.4;
  margin: var(--spacing-medium) 0;
}

.extra-large {
  font-size: var(--font-size-xxxlarge);
  line-height: 1.2;
  margin: var(--spacing-large) 0;
}

@media (max-width: 992px) {
  .extra-large {
    font-size: var(--font-size-xxlarge);
    margin: var(--spacing-medium) 0;
  }

  .large {
    font-size: var(--font-size-xlarge);
  }

  .medium {
    font-size: var(--font-size-large);
  }
}

@media (max-width: 768px) {
  .extra-large {
    font-size: var(--font-size-xlarge);
  }

  .large {
    font-size: var(--font-size-large);
  }

  .medium {
    font-size: var(--font-size-medium);
  }

  .small {
    font-size: var(--font-size-small);
  }
}

@media (max-width: 576px) {
  .title-container {
    gap: var(--spacing-xsmall);
  }
  
  .title-icon {
    font-size: var(--font-size-medium);
  }
  
  .extra-large {
    font-size: var(--font-size-large);
    margin: var(--spacing-small) 0;
  }

  .large {
    font-size: var(--font-size-medium);
    margin: var(--spacing-xsmall) 0;
  }
}