html,
body {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--color-bg);
  font-family: var(--font-family);
  overflow: hidden;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

app-products {
  box-sizing: border-box;
  width: 100%;
}

app-home{
  background-color: var(--color-bg);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}

p {
  margin-bottom: 0 !important;
}