<div class="hamburger-menu" [ngClass]="{'open': isMenuOpen}">
  <div class="menu-header">
    <div class="brand" *ngIf="logoUrl">
      <img [src]="logoUrl" alt="Logo" class="hamburger-logo">
    </div>
    <button class="close-button" (click)="closeMenu()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="menu-content">
    <app-nav-item-list 
      [tabs]="tabs" 
      [tags]="tags"
      [categories]="categories"
      direction="column" 
      [isVisible]="true"
      (navItemClicked)="closeMenu()">
    </app-nav-item-list>
  </div>
</div>