/* Menu Hambúrguer */
.hamburger-menu {
  position: fixed;
  top: 0;
  right: 0; 
  width: 20vw;
  height: 100%;
  padding-top: 5rem;
  background-color: var(--color-bg-muted);
  transition: transform 0.3s ease;
  transform: translateX(100%);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
}

.hamburger-menu.open {
  transform: translateX(0); 
}

.menu-content {
  padding: 20px;
}

.menu-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-item {
  cursor: pointer;
  margin-bottom: 15px;
}

.menu-item a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  text-align: left;
}

.search-container {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo dentro da barra de pesquisa */
}

@media (max-width: 768px) {
  .hamburger-menu {
    width: 100vw;
  }
}

