<nav class="navbar navbar-expand-lg">
    <div class="container-fluid justify-content-between">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img *ngIf="logoUrl" [src]="logoUrl" alt="Logo" class="logo me-2">
        <span *ngIf="!logoUrl">{{texts.brand}}</span>
      </a>
  
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-center" [ngClass]="{'show': isNavbarOpen}" id="navbarNav">
        <ul class="navbar-nav">
          <li *ngFor="let tab of tabs" class="nav-item">
            <a *ngIf="tab.route" class="nav-link" [routerLink]="tab.route">
              <i *ngIf="tab.icon" class="{{ tab.icon }}" [ngClass]="{'me-2': tab.display !== 'icon'}"></i>
              <span *ngIf="tab.display !== 'icon'">{{ tab.name }}</span>
            </a>
            <a *ngIf="!tab.route" class="nav-link" (click)="handleAction(tab.action)">
              <i *ngIf="tab.icon" class="{{ tab.icon }}" [ngClass]="{'me-2': tab.display !== 'icon'}"></i>
              <span *ngIf="tab.display !== 'icon'">{{ tab.name }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>