<div class="settings-container" *ngIf="isSettingsOpen">
  <div class="settings-menu">
    <div class="settings-header container-medium">
      <h3 class="settings-title">Configurações</h3>
      <button class="close-button btn-icon" (click)="close()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <hr />
    
    <div class="settings-section container-medium">
      <h4 class="settings-subtitle">Aparência</h4>
      <div class="toggles">
        <label class="toggle-label">
          <app-toggle 
            [isChecked]="selectedThemeType === 'dark'" 
            (toggleChange)="setThemeType('dark')">
          </app-toggle>
          <span>Modo Escuro</span>
        </label>
        <label class="toggle-label">
          <app-toggle 
            [isChecked]="selectedThemeType === 'high-contrast'" 
            (toggleChange)="setThemeType('high-contrast')">
          </app-toggle>
          <span>Alto Contraste</span>
        </label>
      </div>
    </div>
  </div>
</div>